<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Params</title>
</head>
<body>
    <div>{{ user }}</div>
    <table>
        <tr>
            <th>parameter</th>
            <th style="border-left: 1px solid;">value</th>
        </tr>
        {% for key, value in n %}
        <tr>
            <td>{{ key }}</td>
            <td style="border-left: 1px solid;">{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1></h1>
    <form action="/logout" target="_blank">
                <button>Logout</button>
    </form>
</body>
</html>